# Server
PORT=8080
HOST=
LOG_LEVEL=info

# Postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/cnmt?sslmode=disable

# Cloudflare R2 (payment proofs)
OBJECT_STORAGE_ACCOUNT_ID=
OBJECT_STORAGE_ACCESS_KEY_ID=
OBJECT_STORAGE_SECRET_ACCESS_KEY=
OBJECT_STORAGE_BUCKET_NAME=
OBJECT_STORAGE_PRESIGNED_URL_EXPIRATION=3600
